html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .uk-navbar-container:not(.uk-navbar-transparent), .backcolor1 {
    background-color: rgb(224, 221, 221);
}

nav .uk-navbar-dropdown {
    border: 1px solid black;
}

main {
    width: 100%;
}

main h1 {
    margin-top: 4vh;
    color: black;
    text-align: center;
}

main h3{
    text-align: center;
    margin-top: 0%;
}

footer {
    width: 100%;
    font-size: 13px;
}

footer a {
    color: black;
}

#banniere {
    background-image: url(../img/resto.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banniere img {
    width: 20vh;
    height: 20vh;
}

.centre {
    max-width: 80%;
}

.bold{
    font-weight: bold;
}

.uk-section {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.uk-section .uk-container h3 {
    margin-top: 5vh;
}

.uk-card-default {
    text-align: center;
    background-color: rgb(226, 226, 226);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, .18);
}

.uk-card-default>a {
    color: black;
    padding: 2px;
}

.uk-card-default>a:hover {
    background-color: cornflowerblue;
    text-decoration: none;
}

.uk-card-default>h3 {
    color: rgb(0, 110, 255);
}

.uk-card:hover{
    box-shadow: 2px 3px 4px;
}
.uk-card-media-top img{
    max-height: 185px;
}

.uk-container ul li a{
    border-bottom: 1px solid;
    background-color: rgb(237, 233, 233);
}

.uk-container ul li .uk-accordion-content a{
    border: none;
}

.uk-accordion-content p{
    background-color: rgb(237, 233, 233);
}

.uk-section .uk-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uk-accordion{
    width:100%;
}

.uk-container form {
    padding: 10px;
    max-width: 500px;
    background-color: rgb(213, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 966px) {
    .centre {
        max-width: 60%;
    }
}

